<header>
    <h2>Entrega Salinas</h2>
    <app-salinasNavbarUnrouted></app-salinasNavbarUnrouted>
</header>
<main>
    <h3>Rick and Morty</h3>
      <div class="busqueda mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar..."
      [(ngModel)]="busqueda"
    />
  </div>
    
    

    <div class="row g-4" >
    @for (personajes of personajesFiltrados; track personajes.id)  {
        <div class="col-md-3">
      <app-salinasCharacterCard [personaje]="personajes" ></app-salinasCharacterCard>
    </div>
    }  
    
    </div>

</main>
